* {
  box-sizing: border-box;
}

h1 {
  word-spacing: 10px;
  letter-spacing: 3px;
  line-height: 1.2;
  -webkit-animation: color-change 3s infinite;
}

.fav {
  text-decoration: underline;
}

body {
  margin: 50px;
  font: 15px arial, sans-serif;
  background-color: white;
}

ol {
  background-color: black;
  padding: 24px;
}

ol li {
  background-color: red;
  margin: 1px;
  max-width: 100px;
  color: white;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@-webkit-keyframes color-change {
    0% { color: red; }
    25% { color: green; }
    50% { color: blue; }
    75% { color: yellow; }
    90% { color: orange; }
    100% { color: red; }
}
